{% extends 'myblog/base.html' %}
{% load blog_tags %}

{% block main %}
    <h1>前言</h1>
    <article>使用邀请码
        <a style="color:red;font-style: italic;font-size: 2em">YGBQUNT</a>,
        如果你购买2年vpn，会赠送双方3个月专业版；购买一年套餐，则赠送双方1个月。
    </article>
    <h1>蓝灯</h1>
    <article>VPN名字是
        <a style="color:red;font-style: italic;font-size: 2em">蓝灯(lantern)</a>
        <p> 官网：<a href="https://getlantern.org/zh_CN/">https://getlantern.org/zh_CN/</a>
        </p>
        <p> 论坛：<a href="https://github.com/getlantern/forum">https://github.com/getlantern/forum</a>
        </p>
    </article>
    <h1>结尾</h1>
    <article>
        <p>由于经常访问外网，所以vpn软件也用过几款了，最初的免费的用过两款忘记了名字，稳定性都比较差。</p>
        <p>后来付费的Chrome插件红杏、之后的SS、以及现在的蓝灯。</p>
        <p> SS现在也不稳定了，十月份刚续费一年但是新版本增加了流量限制，速度一般，顿时好感全无。然后就购买了现在的蓝灯。</p>
        <p>蓝灯专业版<a style="color:red;font-style: italic;font-size: 2em">同时三台设备在线</a>，不限流量，速度快。</p>

    </article>
{% endblock main %}